<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Cool Project</title>
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/main.css">
  </head>
  <body ng-app="app">
    <div class="container" ng-controller="GifController">
      <form ng-submit="addGif(gif)">
        <p class="control">
          <input type="text" placeholder="Gif Name" class="input" ng-model="gif.name" ng-keyup="validateName(gif.name)">
          <span>{{ error.name }}</span>
        </p>
        <p class="control">
          <input type="text" placeholder="Gif URL" class="input" ng-model="gif.url" ng-keyup="validateUrl(gif.url)">
          <span>{{ error.url }}</span>
        </p>
        <p class="control">
          <button class="button">Add</button>
        </p>
      </form>

      <hr>

      <ul>
        <li ng-repeat="x in gifs">
          <h3>{{ x.name }}</h3>
          <img ng-src="{{ x.url }}" alt="{{ x.name }}">
          <button ng-click="deleteMe(x._id)" class="button">Delete</button>
        </li>
      </ul>

    </div>
    <script src="js/bundle.js"></script>
  </body>
</html>
